{
  "presets": [
    [
      "next/babel", {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "overrides": [{
    "include": [
      "./node_modules"
    ],
    "plugins": [
      ["babel-plugin-transform-require-ignore", {
        "extensions": [".css"]
      }]
    ]
  }],
  "env": {
    "test": {
      "plugins": ["babel-plugin-transform-dynamic-import"]
    }
  }
}