$primary-500: #1B5CF3;
$primary-400: #5989FF;
$primary-300: #C1D3FF;
$primary-200: #EAF0FF;
$primary-100: #F5F8FF;

$ink-500: #22313F;
$ink-400: #636C79;
$ink-300: #B3B8BD;
$ink-200: #E1E2E5;
$ink-100: #F2F3F4;

$ink-400-t: rgba(1, 18, 34, 0.5);
$ink-300-t: rgba(1, 18, 34, 0.3);
$ink-200-t: rgba(1, 18, 34, 0.1);
$ink-100-t: rgba(1, 18, 34, 0.05);

$black-500: #333333;
$black-400: #4D4D4D;
$black-300: #999999;
$black-200: #B3B3B3;
$black-100: #E6E6E6;

$white-500: #FFFFFF;
$white-400: rgba(255, 255, 255, 0.7);
$white-300: rgba(255, 255, 255, 0.4);
$white-200: rgba(255, 255, 255, 0.3);
$white-100: rgba(255, 255, 255, 0.1);

$green-500: #00BC3C;
$green-400: #33C963;
$green-300: #B3EBC5;
$green-200: #E6F8EC;
$green-100: #F2FCF5;

$orange-500: #FF821E;
$orange-400: #FF9B4B;
$orange-300: #FFDABC;
$orange-200: #FFF3E9;
$orange-100: #FFF9F4;

$red-500: #E60A32;
$red-400: #E82727;
$red-300: #FFB5B5;
$red-200: #FCE7E7;
$red-100: #FEF3F5;

$border: #E6E7E9;
$brand-red: #DC2323;
$brand-blue: #355587;
$facebook: #355587;
$yellow: #FEB300;

$skeleton: linear-gradient(270deg, #E6E7E9 0%, #F9F9F9 98.12%);
$background-light: #FAFDFF;
$background-dark: #F2F3F4;
$placeholder: #E8EDF3;
